:root {
  --vbar: 0px;
}


h1 {
  text-align: center;
}

html {
  background-color: #E7F3F3;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #B3B3B3;
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*justify-content:center;*/
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

Link {
  text-decoration: none;
}

.float-container {
  padding: 0px;
}

.float-child {
  float: left;
  padding: 20px;
}  


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, h2, h3, h4, h5, h6, p, header, span {
  font-family: "Lucida Console", "Courier New", monospace;
}

.aboutdir {
  margin-top: 5px;
  width: 100%;
}

.abouttext {
  text-align: center;
}

.abouttext:hover, .homedir:hover {
  text-decoration: underline;
  cursor: pointer;
}

#addnew {
  position: absolute;
  top: calc(100% - 120px);
  left: calc(100% - 120px);
}

.dot {
  display: table;
  height: 100px;
  width: 100px;
  background-color: #B3B3B3;
  border-radius: 50%;
  box-shadow: 10px 10px #D7E3E3;
}

.dot:hover {
  background-color: #A3A3A3;
  cursor: pointer;
}

.plus {
  font-size: 60px;
  display: table-cell;
  vertical-align: middle;
}

.panel {
  background-color: white;
  border-color: #B9B9B9;
  border-radius: 10px;
  border-style: solid;
  overflow: auto;
  animation: pulse 0.5s;
}

@keyframes pulse {
  from {
      transform : scale(0.75);
      opacity   : 0.5;
  }
  to {
      transform : scale(1);
      opacity   : 1;
  }
}

.abouttitle {
  color: black;
}

.about {
  padding: 20px;
  padding-top: 0px;
}

p, li {
  text-align: left;
  padding-left: 10px;
}

.backarrow:hover {
  text-decoration: underline;
  cursor: pointer;
}

.backarrow {
  font-size: 20px;
  padding: 30px;
  padding-bottom: 0px;
  padding-top: 0px;
}

input {
  top:-200%;
  opacity: 0;
  z-index: -1;
}

.dot .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  left: -120px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.dot:hover .tooltiptext {
  visibility: visible;
}

.viz {
  padding: 20px;
  padding-top: 0px;
  display: flex;
  width: 100%;
}

.panel.home {
  margin: 20px;
  padding-left: 20px;
  width: calc(100% - 60px);
}

.panel.info {
  position: absolute;
  float: left;
  height: calc(100% - 150px);
  margin-left: 15px;
  width: calc(100% - 75px);
  overflow: hidden;
}

.panel.migration {
  margin-left: 20px;
  width: 100%;
  height: calc(50% - 40px);
  margin-top: 5px;
}

.paneltitle {
  position: absolute;
  margin-top: 5px;
}

.block label { display: flex; }

.columnwrapper {
  display: flex;
  height: 100%;
}

.leftcolumn {
  position: a;
  float: left;
  height: 100%;
  width: 70%;
}

.rightcolumn {
  float: left;
  padding-left: 30px;
  padding-right: 25px;
  width: calc(30% - 75px);
  height: 100%;
}

.panel.migration.legend {
  height: 20%;
}

.panel.migration.legend.map {
  height: calc(80% - 85px);
}

#cy {
  position: relative;
  height: 100%;
}

canvas {
  padding-left: 0;
}

.legendtext {
  font-size: 14px;
}

ul {
  columns: 2;
}

.titlewrapper {
  display: flex;
}

.titleelem {
  flex: 1 1 50%;
  text-align: center;
}

.titleelem.left {
  margin-left: 20px;
}

.titleelem.end {
  text-align: end;
}

.viztitle {
  position: absolute;
  margin-left: 40%;
  z-index: 999;
  text-align: center;
}

.panel.popup {
  animation: pulse 0.1s;
}